body {
    display: flex;
    flex-direction: column;
    font-size: 1.3rem;
    font-family: Arial, sans-serif;
    margin-left: 1%;
    margin-right: 1%;
    padding: 0px;
    background-color: #000000;
    color: #dddddd;
}

body > .home-container {
    justify-content: center;
    align-items: center;
}

.navbar{
    display: flex;
    justify-content: center;
    margin-top: 1%;
    margin-bottom: 1%;
    max-width: 100%;
}

.navbar > a {
    margin-right: 1%;
}

h1 {
    font-size: 2em;
    text-align: center;
}

.home-container {
    display: flex;
    flex-direction: row;
}

p {
    text-align: justify;
}

form {
    margin: 5px;
    margin-left: 0px;
    font-size: 1.2em;
}

table {
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: center;
    padding: 8px;
}
  
tr:nth-child(even) {
    background-color: #727272;
}

.download-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: baseline;
}

.download-item > form {
    margin-left: 10px;
}

.greeting {
    max-width: 30em;
}

.unicorn {
    width: 65em;
    max-width: 85%;
    margin-left: 5%;
}

.logo {
    max-width: 80%;
}

#input {
    font-size: 0.7em;
    width: 150px;
    height: 25px;
}

label{
    display: inline;
    min-width: 140px;
    max-width: 140px;
}

#name {
    min-width: fit-content;
    max-width: fit-content;
}

@media only screen and (max-width: 600px) {
    p {
        max-width: 100%;
    }
    
    .logo {
        max-width: 100%;
    }

    .unicorn {
        width: 100%;
        max-width: 100%;
        margin-left: 0;
    }

    .home-container {
        flex-direction: column;
    }
}