body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #000000;
    color: #dddddd;
}

form {
    display: inline;
}

table {
    border-collapse: collapse;
    width: 100%;
}
  
td, th {
    border: 1px solid #dddddd;
    text-align: center;
    padding: 8px;
}
  
tr:nth-child(even) {
    background-color: #727272;
}

div {
    margin-top: 20px;
}