<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Using url_for because the 'static' folder is higher than the 'templates' folder -->
    {% if theme == 'dark' %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/dark.css') }}">
    {% else %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/light.css') }}">
    {% endif %}
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}">
    {% block head %}
    {% endblock head %}
</head>
<body>
{% block body %}
{% endblock body %}
{% with messages = get_flashed_messages() %}
    {% if messages %}
        <ul class=flashes>
        {% for message in messages %}
            <li>{{ message }}</li>
        {% endfor %}
        </ul>
    {% endif %}
{% endwith %}
<div>
    <a href="/">Home</a>
    <a href="/uploads">Uploads</a>
    <a href="/downloads">Downloads</a>
    <a href="/theme">Change Theme</a>
</div>
</body>
</html>