{% extends "base.html" %}
{% block head %}
<title>Downloads</title>
{% endblock head %}
{% block body %}
<h1>Downloads</h1>
<p>
<form method="POST" action="/downloads/upload" enctype="multipart/form-data">
    <!-- This enctype is for sending multiple binary files with different content type headers -->
    {% if mode == '0' %}
    <label for="selected">Select files:</label>
    <input type="file" name="selected" multiple="multiple">
    {% elif mode == '1' %}
    <label for="selected">Select a folder:</label>
    <input type="file" name="selected" webkitdirectory>
    {% else %}
    <label for="selected">Select an archive:</label>
    <input type="file" name="selected" multiple="multiple" accept=".zip, .7z, .tar, .gz, .rar">
    {% endif %}
    <label for="selected">Upload the files:</label>
    <input type="submit">
</form>
<form method="GET">
    {% if mode == '1' %}
    <input type="hidden" name="mode" value="2">
    <button type="submit">Switch To Archive Mode</button>
    {% elif mode == '0' %}
    <input type="hidden" name="mode" value="1">
    <button type="submit">Switch To Folder Mode</button>
    {% else %}
    <input type="hidden" name="mode" value="0">
    <button type="submit">Switch To File Mode</button>
    {% endif %}
</form>
</p>
<p>
<!-- Field and button for creating new folders. -->
<form method="POST" action="/downloads/create_folder">
    <label for="folder_name">Folder Name:</label>
    <input type="text" name="folder_name" required>
    <button type="submit">Create Folder</button>
</form>
</p>
{% if subpath %}
    <!-- The split method returns a list containing directory names in current path except for the current directory. -->
    <!-- The directories in that list are then joined with '/' as the separator. -->
    <h3>Current Path: {{ subpath }}</h3>
    <br>
    <a href="/downloads/tree/">Root</a>
    <br>
    <a href="/downloads/tree/{{ '/'.join(subpath.split('/')[:-1]) }}">Back</a><br>
{% endif %}
<ul>
    {% for item in items %}
        {% set item_path = subpath + '/' + item if subpath else item %}
        <li>
            {% if isdir(join(STORAGE, item_path)) %}
                <!-- Folder -->
                <a href="/downloads/tree/{{ item_path }}">{{ item }}</a>
                <form method="GET" action="/downloads/download/{{ item_path }}">
                    <button type="submit">Download Folder</button>
                </form>
            {% else %}
                <!-- File -->
                <a href="/downloads/download/{{ item_path }}">{{ item }}</a>
            {% endif %}
                {% if confirm == '0' %}
                <form>
                    <input type="hidden" name="confirm" value="{{ item_path }}">
                    <button type="submit">Delete</button>
                </form>
                {% elif confirm == item_path %}
                <form method="POST" action="/downloads/delete/{{ item_path }}">
                    <button type="submit">Confirm Delete</button>
                </form>
                {% else %}
                <form>
                    <input type="hidden" name="confirm" value="{{ item_path }}">
                    <button type="submit">Delete</button>
                </form>
                {% endif %}
        </li>
    {% endfor %}
</ul>
{% endblock body %}