{%extends "base.html"%}
{% block head %}
<title>Uploads</title>
{% endblock head %}
{% block body %}
<h1>Uploads</h1>
<form method="POST" action="/uploads/upload" enctype="multipart/form-data">
    <!-- This enctype is for sending multiple binary files with different content type headers -->
    {% if mode == '0' %}
    <label for="selected">Select files:</label>
    <input type="file" name="selected" multiple="multiple">
    {% elif mode == '1' %}
    <label for="selected">Select a folder:</label>
    <input type="file" name="selected" webkitdirectory>
    {% else %}
    <label for="selected">Select an archive:</label>
    <input type="file" name="selected" multiple="multiple" accept=".zip, .7z, .tar, .gz, .rar">
    {% endif %}
    <label for="selected">Upload the files:</label>
    <input type="submit">
</form>
<form method="GET">
    {% if mode == '1' %}
    <input type="hidden" name="mode" value="2">
    <button type="submit">Switch To Archive Mode</button>
    {% elif mode == '0' %}
    <input type="hidden" name="mode" value="1">
    <button type="submit">Switch To Folder Mode</button>
    {% else %}
    <input type="hidden" name="mode" value="0">
    <button type="submit">Switch To File Mode</button>
    {% endif %}
</form>
<!-- Logic for displaying uploads history -->
{% if confirm == '0' %}
    <form>
        <input type="hidden" name="confirm" value="1">
        <button type="submit">Clear History</button>
    </form>
{% else %}
    <form method="POST" action="/uploads/clear">
        <button type="submit">Confirm Clear</button>
    </form>
{% endif %}
</form>
{% if up_files %}
    <h2>Uploads History</h2>
    <table>
        <tr>
            <th>#</th>
            <th>Filename</th>
            <th>Size</th>
            <th>Upload Time</th>
        </tr>
    {% for file, up_size, up_time in zip(up_files, up_sizes, up_times) %}
        <tr>
            <td>{{ loop.index }}</td>
            <td>{{ file }}</td>
            <td>{{ up_size }}</td>
            <td>{{ up_time }}</td>
        </tr>
    {% endfor %}
    </table>
{% endif %}
{% endblock body %}