{%extends "base.html"%}
{% block head %}
<title>Uploads</title>
{% endblock head %}
{% block body %}
<form method="POST" action="/uploads/upload" enctype="multipart/form-data">
    <!-- This enctype is for sending multiple binary files with different content type headers -->
    {% if mode == '0' %}
    <label for="selected">Select files:</label>
    <input type="file" name="selected" multiple="multiple">
    {% elif mode == '1' %}
    <label for="selected">Select a folder:</label>
    <input type="file" name="selected" multiple="multiple" webkitdirectory>
    {% else %}
    <label for="selected">Select an archive:</label>
    <input type="file" name="selected" multiple="multiple" accept=".zip, .7z, .tar, .gz">
    {% endif %}
    <label for="selected">Upload the files:</label>
    <input type="submit">
</form>
<form method="GET">
    {% if mode == '1' %}
    <input type="hidden" name="mode" value="2">
    <button type="submit">Switch To Archive Mode</button>
    {% elif mode == '0' %}
    <input type="hidden" name="mode" value="1">
    <button type="submit">Switch To Folder Mode</button>
    {% else %}
    <input type="hidden" name="mode" value="0">
    <button type="submit">Switch To File Mode</button>
    {% endif %}
</form>
<!-- Logic for displaying uploads history -->
{% if up_files %}
    <ul>
    {% for file in up_files %}
        <li>{{ file }}</li>
    {% endfor %}
    </ul>
{% endif %}
<form method="POST">
    {% if not confirm %}
        <input type="hidden" name="confirm" value="1">
        <button type="submit">Clear Uploads</button>
    {% else %}
        <button type="submit" formaction="uploads/clear">Confirm Clear</button>
    {% endif %}
</form>
{% endblock body %}